/* CSS Reset and Font */
* {
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* Banner Bar */
.top-banner {
  width: 100vw;
  height: 10vh;
  background: #CB356B;
  background: -o-linear-gradient(left, #BD3F32, #CB356B);
  background: -webkit-gradient(linear, left top, right top, from(#BD3F32), to(#CB356B));
  background: linear-gradient(to right, #BD3F32, #CB356B);
  display:-ms-grid;
  display:grid;
  -ms-grid-columns: 10% 90%;
  grid-template-columns: 10% 90%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.title {
  font-size: 64px;
  margin-left: -4em;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* Menu */
.sliding-menu {
  position: absolute;
  left: 0;
  height: 100vh;
  width: 20vw;
  background-color: white;
  -webkit-box-shadow: 5px 15px 20px rgba(0, 0, 0,0.5);
          box-shadow: 5px 15px 20px rgba(0, 0, 0,0.5);
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu-item {
  list-style: none;
  padding: 2em;
}

.menu-item:hover {
  cursor:pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.hideMenu {
  display: none;
}

/* Toggle Button */
.fa-bars {
  color: white;
  font-size: 32px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.fa-close {
  float: right;
  padding: 20px;
  color: black;
  font-size: 32px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.fa-bars:hover {
  color: rgba(0, 0, 0, 0.9);
  cursor: pointer;
}

.fa-close:hover {
  color: rgba(0, 0, 0,0.5);
  cursor: pointer;
}

/* Display Area */

.display-area {
  width:100vw;
  height:90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
}

.loading {
  font-size: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.image-container {
  height: 45vh;
  width: 20vw;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

img {
  height:100%;
  width:100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.pointer {
  height:50px;
  width:50px;
  position: absolute;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size:42px;
}

.left {
  left:0;
}

.right {
  right:0;
}

.hide {
  display: none;
}

.fa-chevron-right, .fa-chevron-left {
  color: rgba(255,255,255,0.8)
}

.fa-chevron-right:hover, .fa-chevron-left:hover {
  cursor: pointer;
}